<!doctype html>
<html ng-app="sampleApp">
  <head>
    <style>
      ul {
        overflow-y: auto;
        display: inline-block;
        height: 40em;
        border: 1px solid #f6f6f2;
        width: 64em;
      }
    </style>
  </head>
  <body ng-controller="SampleCtrl">
    <ul id='winmain'>
      <li ng-repeat="message in messages">
      <!-- exit a message -->
      <input ng-model="message.text" ng-change="messages.$save(message)" size="100%" />

      <!-- delete message
      -->
      <button ng-click="messages.$remove(message)">X</button>

      </li>
    </ul>

    <!-- push
    a new message into the array -->
    <form ng-submit="addMessage(newMessageText);nigScroll()">
      <input ng-model="newMessageText" size="100%" autofocus />
      <button type="submit">add message</button>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>
    <script src="js/app.js"></script>
    <script>
      function nigScroll(){
        var elem = document.getElementById('winmain');
        elem.scrollTop = elem.scrollHeight;
      }
      
    </script>

  </body>
</html>
